  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="device-container">
          <img class="img-responsive" src="assets/img/pino.png">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Feliz Navidad</h1>
            <h4>Make your visitors smile with this special landing page!</h4>
            <br />
            <!-- <a href="#" class="btnimg"><img src="app/assets/img/button-available.png" height="50"></a> <a href="#"
              class="btnimg"><img src="app/assets/img/button-googleplay.png" height="50"></a>
            <br />
            <br />
            <div class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="audioembed">
    <audio controls="true" autoplay="true" src="assets/audio/audio.mp3" id="audio1"></audio>
  </div>
